extends ../../layouts/logged_layout
block content
    .wrapper-page
        .ex-page-content.text-center
            h2
                span
                    |No Access
            .alert.alert-warning
                | You do not have access to this functionality, contact your account admin for more details.