extends ../../layouts/unlogged_layout
block content
    .wrapper-page
        .ex-page-content.text-center
            h2
                span #{errorTitle}

            .alert.alert-warning #{errorText}