module.exports = {
    friendlyName: 'Show home page',
    description: 'Display the dashboard "homepage".',
    inputs: {},
    exits: {
        success: {
            viewTemplatePath: 'pages/home'
        }
    },
    fn: async function(inputs, exits) {
        // All done.
        return exits.success();
    }
};

module.exports.routes = {
    '/': { view: 'pages/home' },
    '/block-list': 'BlockController.blockList'
};