extends ../../layouts/unlogged_layout
block content
    div.terms-page
        a(href="/") Back to Home
        h2 Terms and Conditions
        p
            | In these terms, "Event Organizer", "Us", "Ours" refers to XTM Ltd, and where referenced as such, Horizon Africa Ltd, "You", and "Your" means a participant, presenter and or someone listing their items for trade within the context of the Hustlemania event ("
            b Event
            | "). "Barter Units" or "BUNs" are units for which goods or items ("
            b Items
            | ") are being traded for.
        h3.modal_title Part A - Attendance
        p
            | 1. A maximum of 20 people can attend and participate in person at the Event. Attendance is by preregistration only. Preregister at hustemania.app ("
            b HM App
            | ") from your mobile phone. You must first sign up to request attendance. Confirmation of attendance will be sent to You via email. Note, that we will not contact you with unsolicited matters.
        p 2. You must be present at least 30 minutes before the start of the Event. 
        p 3. You must have a smartphone with internet access and log in to HM App. 
        p
            | 4. As an attendee, You will be given 10,000 BUNs prior to the start of the event. We will never sell BUNs to anyone and the only way to get it from Us will be by attending at the event. BUNs can be transferred to users with an HM App account. The Event Organiser reserves the right to vary the number of BUNs given in subsequent Events.
        h3.modal_title Part B - Trade
        p 5. The total supply of BUNs is set and can’t be changed at 100,000,000 BUNs. 
        p
            | 6. For the first event, 1 BUN will be set at 1 MUR to price the first Item. The subsequent price of BUNs to MUR will be determined based on the value of an Item traded in MUR to BUNs. For example, if an Item is listed at Rs10 and fetches 5 BUNs, the conversion of BUNs to MUR at that time will be 2 BUNs to Rs1.
        p
            | 7. The Event Organizer and Horizon Africa will obtain 50,000 BUNs each per event produced. There will be a maximum of 6 hosts per Event ("Host") and they will obtain 50,000 BUNs each for each event they attend as a Host.
        p
            | 8. Participants can list items they would like to trade for BUNs from their wallets at least 24 hours prior to the Event start time. All items must be inspected before being displayed and presented by the Event Organizer. Items may be rejected.
        p
            | 9. You do not need to be a participant to list an item for trade. In this case, you must provide the item at least 48hours to our office before the start of the event. If theitem is not traded in, you will have 24 hours to pick it back up from our office. Any item left for more than 24 hours may be thrown out. You consent unconditionally for the items to be listed for trade in your absence.
        p
            | 10. If you chose to trade your Item, you will have a maximum of 60 seconds to present it. You may present Items in bundles. The Hosts may stop your presentation short, ask you questions and provide some guidance on your sales process. You shall not be entitled to seek any compensation or other damages from the Event Organizer, Horizon Africa or the Hosts for any outcomes in connection to the trade (or failure to trade) of your Item or any other matter in connection to the Event.
        p
            | 11. You may elect not to present your Item, in which case a Host will represent the item on your behalf. If this is the case, you will not be entitled to seek any compensation or other damages from the Event Organizer, Horizon Africa or the Hosts for any outcomes in connection to the trade in of your items or any other matter in connection to the Event.
        p
            | 12. The Hosts will set the average price for your product in the local currency prior to the start of the trading process.
        p
            | 13. Hustlemania is the property of XTM Ltd and will be filmed and broadcasted by XTM through its media channels. You will be filmed during your pitch and during the show and agree to give over any rights, title and interests you may have in connection with the contents being filmed (the Content) to XTM. This allows XTM to distribute the Contents in any and every way it can.
        p
            | 14. All bids will cause BUNs to be escrowed. The winning bid will be transferred immediately to the seller and the Item will change ownership at that time. You understand the transactions are final and You will have no recourse for returns.
        p
            | 15. Winning participants are required to collect their Items at the end of the event.
        h3.modal_title Part C - Finality Of Trade
        p
            | 16. A contract of sale is concluded at the time the person responsible for the trade closes the particular session down by indication of the fall of the hammer.
        p
            | 17. Transfers will occur immediately following the close of the trade. Title in the Item traded does not pass to the acquirer until such times as the BUNs are transferred in full.
        p 18. There is no reserve price on any bids
        h3.modal_title Part D - Repricing and Token Bonus
        p
            | 19. A 100,000 BUN bonus ("Bonus") will be given to the Presenter (the Host or You) that achieves the highest percentage above the listed bid price in BUNs. For example, if a Presenter presents an item that goes beyond the listed price, a calculation of Price Achieved less Price Listed divided by Price Listed will be performed. Anyone that has presented and achieved the highest percentage will receive the Bonus at the end of the Event.
        p
            | 20. At the start of the first Event, the Event Organizer will provide a sponsored Item to determine the value of BUNs per local currency. This will then be used to value the second item in BUNs. The third item will be valued at the rate of BUNs vs MUR from the value obtained from the trade of the second item. The process repeats, so on and so forth for each subsequent items traded, whether or not in the first or subsequent Events. The Event Organizer will also provide for another sponsored item as the last Item on display.
        h3.modal_title Part E - Miscellaneous
        p
            | 21. The process is designed to teach sales technique in practice, how market sets pricing, and get an intimate experience of using digital assets.
        p
            | 22. You may participate remotely in later episodes of Hustlemania broadcasted live.
        p
            | 23. Hustlemania is a product of the XTM Ltd and will be governed by the XTM LTD's Privacy Policy as well as its other applicable policies.
        p
            | 24. The wallet application used in Hustlemania events is built and maintained by Horizon Africa Ltd.
        a(href="/") Back to Home

    script.
        $(document).ready(
            function() {
            });
