
script.
    var resizefunc = [];
    //- $(".select2").select2({
    //-       width: '100%'
    //-   });
script(src= sails.config.appsettings.application_assets_url + '/js/jquery.min.js')
script(src= sails.config.appsettings.application_assets_url + '/js/bootstrap.min.js')
//- script(src= sails.config.appsettings.application_assets_url +'/js/detect.js')
//- script(src= sails.config.appsettings.application_assets_url + '/js/fastclick.js')
//- script(src= sails.config.appsettings.application_assets_url + '/js/jquery.slimscroll.js')
//- script(src= sails.config.appsettings.application_assets_url +'/js/jquery.blockUI.js')
//- script(src= sails.config.appsettings.application_assets_url + '/js/waves.js')
//- script(src= sails.config.appsettings.application_assets_url + '/js/wow.min.js')
//- script(src= sails.config.appsettings.application_assets_url +'/js/jquery.nicescroll.js')
//- script(src= sails.config.appsettings.application_assets_url +'/js/jquery.scrollTo.min.js')
//- script(src= sails.config.appsettings.application_assets_url + '/js/jquery.app.js')
script(src= sails.config.appsettings.application_url + "js/functions.js?v=" + sails.config.appsettings.application_version)

//-sweet alert
//- script(src=sails.config.appsettings.application_assets_url + '/plugins/sweetalert/dist/sweetalert.min.js')
//- script(src=sails.config.appsettings.application_url + 'dependencies/numeral.min.js')

//- date picker
//- script(type='text/javascript' src=sails.config.appsettings.application_assets_url + "/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")