#actionModal.modal.fade(tabidex="-1", role="dialog", aria-labelleddby="actionModal")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
            .modal-header.hide
                h4.modal-title
            .modal-body
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close