header#topnav
    .topbar-main
        .container
            .topbar-left
                a.logo(href="/")
                    span #{sails.config.appsettings.application_name}
            .menu-extras
                ul.nav.navbar-nav.navbar-right.pull-right
                    li.dropdown.user-box
                        a.dropdown-toggle.waves-effect.waves-light.profile(href="", data-toggle="dropdown", aria-expanded="true")
                            span.span.hidden-xs
                                | &nbsp;
                .menu-item
                    // Mobile menu toggle
                    a.navbar-toggle
                        .lines
                            span
                            span
                            span
    .navbar-custom
        .container
            #navigation
                ul.navigation-menu
                    //Dashboard
                    li#menu-graph
                        a(href="/")
                            i.fa.fa-line-chart
                            span Home
                    li
                        a(href="/token/list")
                            i.fa.fa-usd
                            span Tokens
                    li
                        a(href="/block/latest")
                            i.fa.fa-cube
                            span Latest Blocks
                .navbar-form.navbar-right.hide(role="search")
                    .form-group
                        input(type="text" class="form-control" placeholder="Search")

        script.
            $(document).ready(function() {
                });