//- Navigation menu for logged-in users
// This section provides the framework for navigation items displayed to users when they are logged in.
nav
    // Other navigation links
    // Include additional navigation links here as needed

    // Section to add a link for the transaction form page
    ul.nav
        // List item containing a navigation link to the transaction form
        li
            // Anchor link redirects to the page where users can enter a transaction ID
            a(href='/transaction/form') Enter Transaction ID
    // Additional links can be added here
    // Extend the navigation menu with more links as required for application functionality