header#topnav
    .topbar-main
        .container
            .topbar-left
                a.logo(href='/')
                    i.fa.fa-home
            .menu-extras
                ul.nav.navbar-nav.navbar-right.pull-left
                    li.dropdown.user-box
                        a.dropdown-toggle.waves-effect.waves-light.profile(href='', data-toggle='dropdown', aria-expanded='true')
                            span.visible-xs.hide
                .menu-item
                    a.navbar-toggle
                        .lines
                            span
                            span
                            span
    .navbar-custom
        .container
            #navigation
                ul.navigation-menu
                    li
                        a(href='#') Logged in as #{req.session.userDetails.email}
                    li#menu-dashboard
                        a(href='/dashboard')
                            i.md.md-home
                            span Home
                    li#menu-transfer-token
                        a(href='/token/transfer')
                            i.md.md-swap-horiz
                            span Transfer Tokens
                    li#menu-transaction
                        a(href='/token/transactions')
                            i.md.md-credit-card
                            span Transactions
                    li#menu-past-bids
                        a(href='/bid/list')
                            i.md.md-list
                            span Past Bids
                    li#menu-user-settings
                        a(href='/user/settings')
                            i.md.md-settings
                            | User Settings
                    li#menu-logout
                        a(href='/logout')
                            i.md.md-settings-power
                            | Logout
                    li#menu-block-list
                        a(href='/block/list')
                            i.md.md-view-list
                            | Block List

        script.
            $(document).ready(
                function()
                {
                });